<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102630303700-o09cab8nod3gjaa6vn4eqdm7bqps41ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102630303700-o09cab8nod3gjaa6vn4eqdm7bqps41ec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102630303700-avirhdmr36ci31ptvcqo3que4v3osl4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXu-UD3ZKIqMNUXFIxaUWBRAa80aFyB9A</string>
	<key>GCM_SENDER_ID</key>
	<string>102630303700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uym.building</string>
	<key>PROJECT_ID</key>
	<string>building-7a10b</string>
	<key>STORAGE_BUCKET</key>
	<string>building-7a10b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102630303700:ios:022e74c87f60023d5cd841</string>
</dict>
</plist>